@import url("../src/components/menus/main-menu.css");
@import url("../src/components/Home/landing-page.css");


*{
    color:#000000ff;
    box-sizing: border-box;
    font-size: 18px;
    scroll-behavior: smooth;
  } 
  
  
  body {
    margin: 0;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  @media only screen and (max-width: 950px) {

    .top-banner-slideshow #letTopInSlide,.top-banner-slideshow #rightBottomInSlide{    
    left: 20px;
    right: unset;
    width: 85%;
   }

   .topmenu_block{
    display: none;
   }
}
  